<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
  </head>
  <body>
    <div id="layer"></div>
    <nav class="home-nav">
      <ul>
        <a href="/about"><li>About</li></a>
        <a href="/signup "><li>Sign up</li></a>
        <a href="/signin"><li>Sign in</li></a>
      </ul>
    </nav>
    <center>
      <div class="heading">
        <h1>
          <img src="../static/images/logo.png" /><br />FRESH
          SUPERMARKET
        </h1>

        <p style="font-weight: bold">Go frugal and fresh<br /></p>
      </div>
    </center>
  </body>
</html>