{% extends "sign_in_up.html"%} {% block sign%}
<div class="sign">
  <div class="s">
    <h1>SIGN UP</h1>
    <form action="/signup" method="POST">
      <div class="in">
        <input placeholder="name" type="text" name="name" /><br />
      </div>
      <div class="in">
        <input type="text" placeholder="email" name="email" />
      </div>
      <div class="in">
        <input placeholder="password" type="password" name="password" /><br />
      </div>
      <div class="in">
        <center><button>submit</button></center>
      </div>
    </form>
    <p style="text-align: center">
      already have an account
      <a style="text-decoration: none; color: #000000" href="/signin">
        sign in</a
      >
    </p>
  </div>
</div>
{% endblock %}